
/* b-set */
.b-set {
    display: block;
    letter-spacing: -4px; /* by default */
    white-space: nowrap;
    position: relative;
    }
    /* cell */
    [class*="b-set-cell"] {
        display: inline-block;
        vertical-align: middle;
        letter-spacing: normal;
        white-space: normal;
        }

/* Vertical-align top */
.b-set.valign_top {
    
    }
    .b-set.valign_top > [class*="b-set-cell"],
    [class*="b-set-cell"].valign_top {
        vertical-align: top;
        }
/* Vertical-align middle */
.b-set.valign_middle {
    
    }
    .b-set.valign_middle > [class*="b-set-cell"],
    [class*="b-set-cell"].valign_middle {
        vertical-align: middle;
        }
/* Vertical-align bottom */
.b-set.valign_bottom {
    
    }
    .b-set.valign_bottom > [class*="b-set-cell"],
    [class*="b-set-cell"].valign_bottom {
        vertical-align: bottom;
        }

/* Box block */
.b-set.box_block {
    width: 100%;
    }

/* Cells 2 */
.b-set.cells_2 {
    
    }
    .b-set.cells_2 > .b-set-cell {
        width: 50%;
        }
/* Cells 3 */
.b-set.cells_3 {
    
    }
    .b-set.cells_3 > .b-set-cell {
        width: 33.33%;
        }

/* inline wrapper */
.b-set-inline {
    display: inline-block;
    vertical-align: middle;
    }

/* cause of IE */
.b-set[class*="spacing_"] .b-button.set_system {
    /* display: block; */
    }
/* Spacing 1 */
.b-set.spacing_1 {
    margin-left: -2px;
    margin-right: -2px;
    }
    .b-set.spacing_1 > .b-set-cell {
        margin-left: 2px;
        margin-right: 2px;
        }
/* Spacing 2 */
.b-set.spacing_2 {
    margin-left: -5px;
    margin-right: -5px;
    }
    .b-set.spacing_2 > .b-set-cell {
        margin-left: 5px;
        margin-right: 5px;
        }
/* Spacing 4 */
.b-set.spacing_4 {
    margin-left: -10px;
    margin-right: -10px;
    }
    .b-set.spacing_4 > .b-set-cell {
        margin-left: 10px;
        margin-right: 10px;
        }






