
/* g-font */
.g-font {
    
    }

h1, h2, h3 {
    font-weight: normal;
    }
/* Size 1-3 */
.g-font.size_1,
.g-font.size_2,
.g-font.size_h1,
.g-font.size_h2,
h1,
h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.4em;
    }
/* Size 4 */
.g-font.size_4,
.g-font.size_h3,
h3 {
    font-size: 18px;
    line-height: 24px;
    }
/* Size 5-7 */
.g-font.size_5,
.g-font.size_6,
.g-font.size_7 {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    }
/* Size 8-9 */
.g-font.size_8,
.g-font.size_9 {
    font-size: 16px;
    line-height: 20px;
    }
/* Size 10 */
.g-font.size_10 {
    font-size: 13px;
    line-height: 18px;
    }
/* Size 11 */
.g-font.size_11 {
    font-size: 11px;
    line-height: 16px;
    }
/* Size 12 */
.g-font.size_12 {
    font-size: 11px;
    line-height: 16px;
    }
/* Size 13 */
.g-font.size_13 {
    font-size: 11px;
    line-height: 16px;
    }
/* Size 14 */
.g-font.size_14 {
    font-size: 11px;
    line-height: 16px;
    }
/* Size smaller */
.g-font.size_smaller {
    font-size: 11px; /* sets font-size to 85% of parent */
    }

/* Color black */
.g-font.color_black {
    color: #000;
    }
/* Color gray */
.g-font.color_gray {
    color: #777;
    }
/* Color light gray */
.g-font.color_lgray {
    color: #999;
    }
/* Color red */
.g-font.color_red {
    color: #f00;
    }
/* Color white */
.g-font.color_white {
    color: #fff;
    }

/* Case upper */
.g-font.case_upper {
    text-transform: uppercase;
    }
/* Case lower */
.g-font.case_lower {
    text-transform: lowercase;
    }

/* View hint */
.g-font.view_hint {
    font-size: .85em;
    line-height: .85em;
    color: #666;
    text-transform: uppercase;
    letter-spacing: .1em;
    }




