
/* b-popup */



/* SCHEME: default */
.b-popup.skin_lite.scheme_default {
    
    }
    .b-popup.skin_lite.scheme_default .b-popup-h {
        background-color: rgba(0, 0, 0, .75);
        color: #fff;
        text-align: center;
        font-size: 64px;
        line-height: 75px;
        }


