
/* b-popup */
.b-popup {
    display: block;
    position: absolute;
    z-index: 1234567;
    }
    .b-popup-h {
        position: relative;
        }

/* head */
.b-popup-head {
    position: relative;
    user-select: none;
    }
    .b-popup-head-h {
        position: relative;
        background-clip: padding-box;
        }
    .b-popup-head-title {
        position: relative;
        }

/* body */
.b-popup-body {
    position: relative;
    }
    .b-popup-body-h {
        position: relative;
        background-clip: padding-box;
        }
    .b-popup-image {
        
        }
        .b-popup-image img {
            vertical-align: top;
            }
        .b-popup-text {
            font-size: 13px;
            line-height: 18px;
            }
        .b-popup-hsep {
            height: 2px;
            margin: 20px -20px 16px;
            font: 0/0 serif;
            background: url(/croc/images/misc/uri-hs-1.png) 0 0 repeat-x;
            position: relative;
            }
            /* SPACE: near */
            .b-popup-hsep.space_near {
                margin: 30px -20px 30px;
                }
            /* SPACE: near */
            .b-popup-hsep.space_big {
                margin: 14px -20px 9px;
                }
            .b-popup-hsep-text {
                position: absolute;
                width: 100%;
                top: -6px;
                left: 0;
                font-size: 13px;
                color: #a09c95;
                text-align: center;
                font: 13px/13px Arial, sans-serif;
                }
                .b-popup-hsep-text-h {
                    padding: 0 10px;
                    background-color: #f3f0eb;
                    }

/* foot */
.b-popup-foot {
    position: relative;
    }
    .b-popup-foot-h {
        position: relative;
        }

/* b-popup-wrap */
.ie8 .b-popup-wrap {
    background: url(/croc/images/blocks/b-popup/bg-alpha-75.png);
    }

/* STATE: loading */
.b-popup.state_loading {
    min-width: 400px;
    }
    .b-popup.state_loading .b-popup-body-h {
        height: 20px;
        background: url(/croc/images/gui/loaders/loader_big.gif) no-repeat center center;
        }
