
/* foot button */
.b-popup.skin_default .b-popup-foot-button {
    display: block;
    margin: 20px -20px -15px;
    }
    .b-popup.skin_default .b-popup-foot-button .b-sbutton-text {
        border-radius: 0 0 6px 6px;
        }

/* Scheme default */
.b-popup.skin_default.scheme_default {
    
    }
    .b-popup.skin_default.scheme_default .b-popup-h {
        
        }
    /* head */
    .b-popup.skin_default.scheme_default .b-popup-head {
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .35);
        }
        .b-popup.skin_default.scheme_default .b-popup-head-h {
            background: #4e88c4; /* Old browsers */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRlODhjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzU4OTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: linear-gradient(to bottom, #4e88c4 0%,#235895 100%); /* W3C */
            box-shadow: 0 0 0 1px rgba(0, 0, 0, .1) inset, 0 2px 0 0 rgba(255, 255, 255, .1) inset;
            }
            .ie8 .b-popup.skin_default.scheme_default .b-popup-head-h {
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e88c4', endColorstr='#235895', GradientType=0 ); /* IE6-8 */
                }
        .b-popup.skin_default.scheme_default .b-popup-head-title {
            text-align: center;
            }
    /* body */
    .b-popup.skin_default.scheme_default .b-popup-body {
        
        }
        .b-popup.skin_default.scheme_default .b-popup-body-h {
            background-color: #f3f0eb;
            border: 1px solid #ddd;
            border-top: none;
            }
    /* foot */
    .b-popup.skin_default.scheme_default .b-popup-foot {
        
        }
        .b-popup.skin_default.scheme_default .b-popup-foot-h {
            background-color: #f3f0eb;
            }
    /* Background white */
    .b-popup.skin_default.scheme_default.background_white .b-popup-body-h,
    .b-popup-body.background_white .b-popup-body-h {
        background-color: #fff !important;
        }

/* Scheme gray */
.b-popup.skin_default.scheme_gray {
    
    }
    .b-popup.skin_default.scheme_gray .b-popup-h {
        
        }
    /* head */
    .b-popup.skin_default.scheme_gray .b-popup-head {
        color: #111;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .85);
        }
        .b-popup.skin_default.scheme_gray .b-popup-head-h {
            background: rgb(237,237,237); /* Old browsers */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZmRmZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: linear-gradient(to bottom, rgba(237,237,237,1) 0%,rgba(223,223,223,1) 100%); /* W3C */
            box-shadow: 0 0 0 1px rgba(0, 0, 0, .1) inset, 0 2px 0 0 rgba(255, 255, 255, .1) inset;
            }
            .ie8 .b-popup.skin_default.scheme_gray .b-popup-head-h {
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dfdfdf', GradientType=0 ); /* IE6-8 */
                }
        .b-popup.skin_default.scheme_gray .b-popup-head-title {
            text-align: center;
            }
    /* body */
    .b-popup.skin_default.scheme_gray .b-popup-body {
        
        }
        .b-popup.skin_default.scheme_gray .b-popup-body-h {
            background-color: #fff;
            }
    /* foot */
    .b-popup.skin_default.scheme_gray .b-popup-foot {
        
        }
        .b-popup.skin_default.scheme_gray .b-popup-foot-h {
            
            }

/* foot button */
.b-popup.skin_default .b-popup-foot-button {
    display: block;
    margin: 20px -20px -15px;
    }
    .b-popup.skin_default .b-popup-foot-button .b-sbutton-text {
        border-radius: 0 0 6px 6px;
        }


