
/* b-link */
a,
.b-link {
    color: #4278c0;
    text-decoration: none;
    }
    .b-link-h {
        text-decoration: underline;
        }
    .b-link:hover {
        color: #a30 !important;
        text-decoration: none;
        }







