
/* b-ui */
.b-ui {
    
    }

/* Align left */
.b-ui.align_left {
    text-align: left;
    }
/* Align center */
.b-ui.align_center {
    text-align: center;
    }
/* Align right */
.b-ui.align_right {
    text-align: right;
    }

/* Vertical-align top */
.b-ui.valign_top {
    vertical-align: top;
    }
/* Vertical-align middle */
.b-ui.valign_middle {
    vertical-align: middle;
    }
/* Vertical-align baseline */
.b-ui.valign_baseline {
    vertical-align: baseline;
    }
/* Vertical-align bottom */
.b-ui.valign_bottom {
    vertical-align: bottom;
    }
/* Vertical-align text-top */
.b-ui.valign_texttop {
    vertical-align: text-top;
    }
/* Vertical-align text-bottom */
.b-ui.valign_textbottom {
    vertical-align: text-bottom;
    }

/* Margin null */
.b-ui.margin_null {
    margin-bottom: 0;
    }
/* Margin 25 */
.b-ui.margin_25 {
    margin-bottom: 4px;
    }
/* Margin 50 */
.b-ui.margin_50 {
    margin-bottom: 8px;
    }
/* Margin 75 */
.b-ui.margin_75 {
    margin-bottom: 12px;
    }
/* Margin 100 */
.b-ui.margin_100 {
    margin-bottom: 16px;
    }
/* Margin 125 */
.b-ui.margin_125 {
    margin-bottom: 20px;
    }
/* Margin 150 */
.b-ui.margin_150 {
    margin-bottom: 24px;
    }
/* Margin 175 */
.b-ui.margin_175 {
    margin-bottom: 28px;
    }
/* Margin 200 */
.b-ui.margin_200 {
    margin-bottom: 32px;
    }

/* Margin top */
.b-ui.margintop_null {
    margin-top: 0;
    }
.b-ui.margintop_25 {
    margin-top: 4px;
    }
.b-ui.margintop_50 {
    margin-top: 8px;
    }
.b-ui.margintop_75 {
    margin-top: 12px;
    }
.b-ui.margintop_100 {
    margin-top: 16px;
    }
.b-ui.margintop_125 {
    margin-top: 20px;
    }
.b-ui.margintop_150 {
    margin-top: 24px;
    }
.b-ui.margintop_175 {
    margin-top: 28px;
    }
.b-ui.margintop_200 {
    margin-top: 32px;
    }

/* Gutter null */
.b-ui.gutter_null {
    margin-left: 0;
    }
/* Gutter 25 */
.b-ui.gutter_25 {
    margin-left: .25em;
    }
/* Gutter 50 */
.b-ui.gutter_50 {
    margin-left: .5em;
    }
/* Gutter 75 */
.b-ui.gutter_75 {
    margin-left: .75em;
    }
/* Gutter 100 */
.b-ui.gutter_100 {
    margin-left: 1em;
    }
/* Gutter 125 */
.b-ui.gutter_125 {
    margin-left: 1.25em;
    }
/* Gutter 150 */
.b-ui.gutter_150 {
    margin-left: 1.5em;
    }
/* Gutter 175 */
.b-ui.gutter_175 {
    margin-left: 1.75em;
    }
/* Gutter 200 */
.b-ui.gutter_200 {
    margin-left: 2em;
    }

/* Cursor pointer */
.b-ui.cursor_pointer {
    cursor: pointer;
    }
/* Cursor default */
.b-ui.cursor_default {
    cursor: default;
    }



