
/* b-form-list */
.b-form-list {
    
    }
    .b-form-list-item {
        display: block;
        }
        .b-form-list-item-h {
            position: absolute;
            height: inherit;
            line-height: inherit;
            margin-top: auto;
            text-align: left;
            }






