
/* Scheme gray */
.b-popup-close.scheme_gray {
    right: 9px;
    top: 9px;
    width: 18px;
    height: 18px;
    background-image: none;
    background-color: #777;
    border-radius: 50%;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, .15), 0 -1px 0 0 rgba(0, 0, 0, .1);
    }
    .ie8 .b-popup-close.scheme_gray {
        background-image: url(/croc/images/blocks/b-popup-close/b-popup-close.png);
        }
    .b-popup-close.scheme_gray:after {
        content: '';
        top: 0;
        left: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        font: 0/0 sans-serif;
        overflow: hidden;
        background: url(/croc/images/blocks/b-popup-close/b-popup-close.png) 0 0 no-repeat;
        border-radius: 50%;
        }
    .b-popup-close.scheme_gray:before {
        content: '';
        top: -5px;
        right: -5px;
        bottom: -5px;
        left: -5px;
        position: absolute;
        font: 0/0 sans-serif;
        overflow: hidden;
        background: url(about:blank);
        }
    /* Event hover */
    .b-popup-close.scheme_gray:hover {
        background: #888; /* Old browsers */
        background: linear-gradient(to bottom,  rgba(170,170,170,1) 0%,rgba(136,136,136,1) 100%); /* W3C */
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, .15), 0 -1px 0 0 rgba(0, 0, 0, .15), 0 1px 0 0 rgba(255, 255, 255, .15) inset, 0 -1px 0 0 rgba(0, 0, 0, .2) inset;
        }
        .ie8 .b-popup-close.scheme_gray:hover {
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#888888',GradientType=0 ); /* IE6-8 */
            }
    /* Event active */
    .b-popup-close.scheme_gray:active {
        background: #aaa;
        background-position: -18px 0;
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, .15), 0 0 2px 0 rgba(0, 0, 0, .25) inset;
        }


