
/* b-sbutton-set */
.b-sbutton-set {
    vertical-align: top;
    letter-spacing: -4px;
    white-space: nowrap;
    position: relative;
    }
    .b-sbutton-set-cell {
        display: inline-block;
        vertical-align: middle;
        letter-spacing: normal;
        white-space: normal;
        }
        .b-sbutton-set-cell .b-sbutton {
            margin: 0 !important;
            }

/* SPACING: 0 */
.b-sbutton-set.spacing_0 {
    display: inline-block;
    }
    .b-sbutton-set.spacing_0 .b-sbutton {
        
        }
        .b-sbutton-set.spacing_0 .b-sbutton .b-sbutton-text {
            border-radius: 0;
            border-left-width: 1px;
            }
        .b-sbutton-set.spacing_0 .b-sbutton:first-child {
            margin-left: 0;
            }
            .b-sbutton-set.spacing_0 .b-sbutton:first-child .b-sbutton-text {
                border-left-width: 0;
                }
            .b-sbutton-set.spacing_0 .b-sbutton.scheme_white:first-child .b-sbutton-text {
                border-left-width: 1px;
                }
/* SPACING: 1 */
.b-sbutton-set.spacing_1 {
    margin: 0 -5px;
    }
    .b-sbutton-set.spacing_1 .b-sbutton,
    .b-sbutton-set.spacing_1 .b-sbutton-set-cell {
        margin: 0 5px;
        }
/* SPACING: 2 */
.b-sbutton-set.spacing_2 {
    margin: 0 -10px;
    }
    .b-sbutton-set.spacing_2 .b-sbutton,
    .b-sbutton-set.spacing_2 .b-sbutton-set-cell {
        margin: 0 10px;
        }








