
/* JS */
/* b-input-checkbox */
.b-input-checkbox {
    text-align: left;
    cursor: pointer;
    position: absolute;
    }
    /* input */
    .b-input-checkbox input[type=checkbox] {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        opacity: 0;
        cursor: pointer;
        border: none;
        outline: none;
        z-index: 2;
        }
        #js.ie8 .b-input-checkbox input[type=checkbox] {
            -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
            }
    .b-input-checkbox-h {
        display: inline-block;
        vertical-align: middle;
        font-size: 0;
        line-height: 0;
        overflow: hidden;
        }
/* NOJS */
#nojs .b-input-checkbox {
    
    }
    #nojs .b-input-checkbox input {
        
        }

/* Scheme system */
.b-input-checkbox.scheme_system {
    
    }
    .b-input-checkbox.scheme_system .b-input-checkbox-h {
        background: url(/croc/images/blocks/b-input-checkbox/b-input-checkbox.scheme_system.png) 0 0 no-repeat;
        }
    .b-input-checkboxcheckbox.scheme_system.state_hover .b-input-checkbox-h,
    .b-input-checkboxcheckbox.scheme_system:hover .b-input-checkbox-h,
    :hover > .b-input-checkboxcheckbox.scheme_system .b-input-checkbox-h {
        box-shadow: 0 1px 2px -2px rgba(0, 0, 0, .75);
        }
        .b-input-checkboxcheckbox.scheme_system:active .b-input-checkbox-h,
        :active > .b-input-checkbox .b-input-checkbox-h {
            box-shadow: none;
            }
    .b-input-checkboxcheckbox.scheme_system.state_active .b-input-checkbox-h,
    .b-input-checkboxcheckbox.scheme_system.state_disabled .b-input-checkbox-h {
        box-shadow: none;
        }
    /* Size 1 */
    .b-input-checkbox.scheme_system.size_1 {
        
        }
        .b-input-checkbox.scheme_system.size_1 .b-input-checkbox-h {
            width: 16px;
            height: 16px;
            background-position: 0 0;
            }
        .b-input-checkbox.scheme_system.size_1.state_hover .b-input-checkbox-h {
            background-position: -32px 0;
            }
        .b-input-checkbox.scheme_system.size_1.state_focus .b-input-checkbox-h {
            background-position: -32px 0;
            }
        .b-input-checkbox.scheme_system.size_1.state_active .b-input-checkbox-h {
            background-position: -64px 0;
            }
        .b-input-checkbox.scheme_system.size_1.state_checked.state_active .b-input-checkbox-h {
            background-position: -96px 0;
            }
        .b-input-checkbox.scheme_system.size_1.state_checked .b-input-checkbox-h {
            background-position: -160px 0;
            }
        .b-input-checkbox.scheme_system.size_1.state_checked.state_focus .b-input-checkbox-h,
        .b-input-checkbox.scheme_system.size_1.state_checked.state_hover .b-input-checkbox-h {
            background-position: -128px 0;
            }
        .b-input-checkbox.scheme_system.size_1.state_disabled .b-input-checkbox-h {
            background-position: -192px 0;
            }
        .b-input-checkbox.scheme_system.size_1.state_checked.state_disabled .b-input-checkbox-h {
            background-position: -224px 0;
            }
    /* Size 2 */
    .b-input-checkbox.scheme_system.size_2 {
        
        }
        .b-input-checkbox.scheme_system.size_2 .b-input-checkbox-h {
            width: 20px;
            height: 20px;
            background-position: 0 -32px;
            }
        .b-input-checkbox.scheme_system.size_2.state_hover .b-input-checkbox-h {
            background-position: -32px -32px;
            }
        .b-input-checkbox.scheme_system.size_2.state_focus .b-input-checkbox-h {
            background-position: -32px -32px;
            }
        .b-input-checkbox.scheme_system.size_2.state_active .b-input-checkbox-h {
            background-position: -64px -32px;
            }
        .b-input-checkbox.scheme_system.size_2.state_checked.state_active .b-input-checkbox-h {
            background-position: -96px -32px;
            }
        .b-input-checkbox.scheme_system.size_2.state_checked .b-input-checkbox-h {
            background-position: -160px -32px;
            }
        .b-input-checkbox.scheme_system.size_2.state_checked.state_focus .b-input-checkbox-h {
            background-position: -128px -32px;
            }
        .b-input-checkbox.scheme_system.size_2.state_disabled .b-input-checkbox-h {
            background-position: -192px -32px;
            }
        .b-input-checkbox.scheme_system.size_2.state_checked.state_disabled .b-input-checkbox-h {
            background-position: -224px -32px;
            }




