
/* Set case */
.b-icon.set_case {
    vertical-align: -5%;
    }

/* Side left */
.b-icon.set_case.side_left {
    padding-right: .5em;
    }
/* Side right */
.b-icon.set_case.side_right {
    padding-left: .5em;
    }

/* Vertical-align +5% */
.b-icon.set_case.valign_5 {
    vertical-align: 5%;
    }
/* Vertical-align +10% */
.b-icon.set_case.valign_10 {
    vertical-align: 10%;
    }
/* Vertical-align +15% */
.b-icon.set_case.valign_15 {
    vertical-align: 15%;
    }
/* Vertical-align -5% */
.b-icon.set_case.valign_-5 {
    vertical-align: -5%;
    }
/* Vertical-align -10% */
.b-icon.set_case.valign_-10 {
    vertical-align: -10%;
    }
/* Vertical-align -15% */
.b-icon.set_case.valign_-15 {
    vertical-align: -15%;
    }





