
/* Box block */
.b-button.set_system.box_block {
    display: block;
    width: 100%;
    }
/* Box minimal */
.b-button.set_system.box_minimal {
    min-width: 10em;
    }

/* Round none */
.b-button.set_system.round_none {
    border-radius: 0 !important;
    }
/* Round left */
.b-button.set_system.round_left {
    border-radius: 3px 0 0 3px !important;
    }
/* Round right */
.b-button.set_system.round_right {
    border-radius: 0 3px 3px 0 !important;
    }
/* Round both */
.b-button.set_system.round_both {
    border-radius: 3px !important;
    }

/* View label */
.b-button.set_system.view_label {
    cursor: default;
    }

/* Size 1 */
.b-button.set_system.size_1 {
    /* height: 28px; */
    padding: 5px 10px;
    font-size: 13px;
    line-height: 18px;
    }
/* Size 2 */
.b-button.set_system.size_2 {
    /* height: 34px; */
    padding: 7px 10px;
    font-size: 16px;
    line-height: 20px;
    }
/* Size 3 */
.b-button.set_system.size_3 {
    /* height: 40px; */
    padding: 9px 12px;
    font-size: 18px;
    line-height: 22px;
    }
/* Size 4 */
.b-button.set_system.size_4 {
    /* height: 46px; */
    padding: 11px 12px;
    font-size: 21px;
    line-height: 24px;
    }
/* Size 5 */
.b-button.set_system.size_5 {
    /* height: 52px; */
    padding: 12px 12px;
    font-size: 24px;
    line-height: 28px;
    }





