
/* list */
.b-list {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    }
    .b-list li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        position: relative;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        }

/* Type ordered */
.b-list.type_ordered {
    
    }
    .b-list.type_ordered > li {
        list-style: decimal;
        margin-left: 3em;
        }
/* Type unordered */
.b-list.type_unordered {
    
    }
    .b-list.type_unordered > li {
        list-style: disc;
        margin-left: 3em;
        }
    /* Style mdash */
    .b-list.type_unordered.style_mdash > li {
        list-style: none;
        }
        .b-list.type_unordered.style_mdash > li:before {
            content: '\2014';
            position: absolute;
            margin: -.1em 0 0 -1.6em;
            }
    /* Style square */
    .b-list.type_unordered.style_square > li {
        list-style: square;
        margin-left: 1em;
        }
/* Type definition */
.b-list.type_definition {
    
    }
    .b-list.type_definition dt {
        display: block;
        font-weight: bold;
        margin-top: 12px;
        }
        .b-list.type_definition dt:first-child {
            margin-top: 0;
            }
    .b-list.type_definition dd {
        display: block;
        }






